<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <script nonce="<%= cspNonce %>"></script>
    <base href="<%= baseHref %>" />
    <script nonce="<%= cspNonce %>">
      window.APP_CONFIG = {
        apiUrl: '<%= siteUrl %>/api',
        serverUrl: '<%= siteUrl %>',
        hostname: '<%= hostname %>',
        siteTitle: '<%= title %>',
        server: '<%= server %>'
      };
    </script>
    <% if (cssFile) { %>
    <link rel="stylesheet" href="<%= cssFile %>" />
    <% } %>
    <script nonce="<%= cspNonce %>" src="https://kit.fontawesome.com/<%= fontawesomeKitId %>.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="root"></div>
    <% if (jsFile) { %>
    <%/* Production: single hashed bundle */%>
    <script nonce="<%= cspNonce %>" type="module" src="<%= jsFile %>"></script>
    <% } else if (devScripts && devScripts.length > 0) { %>
    <%/* Dev: un-hashed runtime/main/vendor chunks served from /static/js/ */%>
    <% devScripts.forEach(function(script) { %>
    <script nonce="<%= cspNonce %>" src="static/js/<%= script %>"></script>
    <% }); %>
    <% } %>
  </body>
</html>
